---
import Card from '~/components/ui/Card.tsx';
import Emoji from 'astro-emoji'


export interface Props {
	name: string;
	slug: string;
	imageUrl?: string;
	emoji: string;
	cta?: string;
	  isFirst?: boolean;
  isLast?: boolean;
}
const { isFirst, isLast } = Astro.props;

const roundedClass = [
  isFirst ? "rounded-r-2xl" : "",
  isLast ? "rounded-l-2xl" : ""
].join(" ");
---

<Card>
	<a href={`/collections/${Astro.props.slug}`} class={`w-full gap-0 px-0 `} >

		<article class={`flex flex-col  gap-3 p-6 text-theme-base-200 bg-theme-base-600 w-full items-start  ${roundedClass}`}>
			<Emoji symbol={Astro.props.emoji} style="font-size: 3rem;"  />.


			
			<p class="text-pretty text-3xl font-semibold">
				{Astro.props.name}
			</p>
	
		</article>
	</a>
</Card>
