---
import CollectionDesSection from '~/features/designedcollection/CollectionDesSection.astro';
import LandingHero from '~/components/LandingHero.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import FeaturedCollectionSection from '~/features/featuredcollection/FeaturedCollectionSection.astro';

applyDefaultCacheHeaders(Astro.response.headers);

---

<PrimaryLayout title="Astro Shop">
	<LandingHero  />
	<main class="breakout  flex flex-col  ">

<FeaturedCollectionSection />
		<CollectionDesSection />
	</main>
</PrimaryLayout>