---
import Emoji from 'astro-emoji'

const { collection, href } = Astro.props
---

<a

href={href ?? `/collections/${collection.slug}`}

class="
md:col-span-1
border
border-theme-base-600
text-theme-base-600
rounded-2xl
p-6
flex
flex-col
items-center
text-center
hover:shadow-lg
transition
"

>
			<Emoji symbol={collection.imageUrl} style="font-size: 5rem;"  />.




<h2 class="h4 text-primary-500">

{collection.name}

</h2>
<p class="opacity-70">

{collection.description}

</p>

</a>